<div id="added-modal" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="hgroup title">
            <h3>You're one step closer to getting your creation!</h3>
            <h5>You custom letter art has been added to your cart</h5>
        </div>
  </div>
    <div class="modal-footer">
        <div class="pull-right">
            <a href="/cart" class="btn btn-primary btn-small">
            Go to cart &nbsp; <i class="icon-chevron-right"></i>
            </a>
        </div>
    </div>
</div>

<script>
  $('#added-modal').modal('show');
</script>
