<nav class="navigation">
    <div class="container">
        <div class="row">
            <div class="span9">
                <a href="#" class="main-menu-button">Navigation</a>
                <!-- Begin Menu Container -->
                <div class="megamenu_container">
                    <div class="menu-main-navigation-container">
                        <ul id="menu-main-navigation" class="main-menu">
                            <li class="menu-item-home menu-item-has-children megamenu-parent"><a class="{{ page_code() == 'home' ? 'active' : null }}" href="{{ site_url('/') }}">Home</a></li>
                            <!--<li class="menu-item-has-children"><a href="{{ site_url('shop') }}">Shop</a>
                                {% if categories.count %}
                                {% tree categories %}
                                <ul class="sub-menu">
                                    {% for category in tree.items %}
                                    <li>
                                        <a href="/category/{{ category.fullUrlName }}">{{ category.name }}</a>
                                        {% branch category.children %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endtree %}
                                {% endif %}
                            </li>
                            -->

                            <li><a class="{{ page_code() == 'create' ? 'active' : null }}" href="{{ site_url('create') }}">Create Your Own</a></li>
                            {% if categories.count %}
                            {% tree categories %}
                              {% for cat in tree.items %}
                                <li class="menu-item-has-children">
                                    <a class="{{ category.fullUrlName == cat.fullUrlName ? 'active' : null }}" href="/category/{{ cat.fullUrlName }}">{{ cat.name }}</a>

                                {% if cat.children.count %}
                                  <ul class="sub-menu">
                                      {% for child in cat.children %}
                                        <li>
                                            <a href="/category/{{ child.fullUrlName }}">{{ child.name }}</a>
                                        </li>
                                      {% endfor %}
                                  </ul>
                                {% endif %}
                                </li>
                              {% endfor %}
                            {% endtree %}
                            {% endif %}

                            <li><a class="{{ page_code() == 'about-us' ? 'active' : null }}"href="{{ site_url('about-us') }}">About</a></li>
                            <li><a class="{{ page_code() == 'contact-us' ? 'active' : null }}" href="{{ site_url('contact-us') }}">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="span3 visible-desktop">
                {{ code_block('breadcrumbs') }}
            </div>
        </div>
    </div>
</nav>