{% set active_page = globals.active_page %}
<ul class="nav nav-tabs nav-stacked">
    <li class="{{ active_page == 'about-us' ? 'active' : null }}"><a href="{{ site_url('/about-us') }}" title="About us" class="title">About Us</a></li>
    <li class="{{ active_page == 'faq' ? 'active' : null }}"><a href="{{ site_url('/faq') }}" title="FAQ" class="title">Frequently Asked Questions</a></li>
    <li class="{{ active_page == 'store-locator' ? 'active' : null }}"><a href="{{ site_url('/store-locator') }}" title="Store locator" class="title">Store Locator</a></li>
    <li class="{{ active_page == 'contact-us' ? 'active' : null }}"><a href="{{ site_url('/contact-us') }}" title="Contact us" class="title">Contact Us</a></li>
</ul>
