{% raw %}
  <div ng-cloak ng-repeat="character in characters" class='character-modal' ng-show="character.modalState == 'open'">
    <a class="" href="" ng-click="character.modal('close')">CLOSE</a>
    <h3>Click the '{{character.name | uppercase | createSymbol}}' photo you like below</h3>

    <div class='modal-body'  ng-if="character.name != ' '">
      <a ng-repeat="letter in library.list(character.name)" href="" ng-click="character.applyCodeAndPhoto(letter.code, product.photo)">
        <img ng-src="{{letter[product.photo + '_thumb']}}" width='80'/>
      </a>
    </div>
  </div>
{% endraw %}