---
template: standard
protocol: all
published: true
name: Create
url: /create
---
<!-- Load Angular -->
<script src="https://code.angularjs.org/1.3.5/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.5/angular-route.min.js"></script>
<!-- Load CreateApp -->
<script type="text/javascript" src="{{ 'javascript/create/CreateApp.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/CreateController.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/ThemeService.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/ProductService.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/Library.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/Character.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/services/FrameService.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/services/MatService.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/services/SymbolChecker.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/directives/editWordInput.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/create/directives/createProductForm.js'|theme_resource }}"></script>

<div class="container" ng-app="CreateApp" ng-controller="CreateController" ng-cloak>

  {% set customCollection = 'custom_art'|collection %}
  {% for product in customCollection.products %}
    {% set characters = 0 %}

    {% for attribute in product.productAttributes %}
      {% if attribute.name == 'Character Count' %}
        {% set characters = attribute.value %}
      {% endif %}
    {% endfor %}

    <div class="row word-options" ng-show="word.length == '{{characters}}'">
      {{ open_form({'action': "/product/#{product.url_name}", 'onsubmit': 'return false'}) }}
        {{ code_block('create-controlls', {'product': product, 'characters': characters}) }}
        {{ code_block('create-letter-inputs', {'product': product}) }}

        <input type="hidden" name="productId" value="{{ product.id }}"/>
        <button id="add_custom_{{product.id}}_to_cart" class="btn btn-primary btn-large add-to-cart {">
          <div id="price-{{product.id}}">
            {{ partial('create-price', {'product': product}) }}
          </div>
        </button>
        
        <textarea class="hidden" ng-model="personalization" name="personalization"></textarea>

      {{ close_form() }}
    </div>
    <script>
      $(document).on('click','#add_custom_{{product.id}}_to_cart', function(){
        $(this).sendRequest('shop:onAddToCart', {
          update: {'#mini-cart': 'shop-minicart', '#added': 'create-modal'}
        });
      });
    </script>
  {% endfor %}

  <div class="row change-word-label">
    <div class="span12">
      <div edit-word-input create-word="word" class="label-div"></div>
    </div>
  </div>

  {{ code_block('framed-photos') }}
  {{ code_block('modals') }}
  
  <div class="row">
    <div class="span8 offset2">
        <br>
        <div class="row">
          <div class="offset2">
              <p><strong>Enter any personalization you want included with your sign</strong></p>
          </div>
        </div>
        <div class="row personalized-inputs">
            <div class="span2">
                <label for="personalized_top_left">Top Left</label>
            </div>
            <div class="span2">
                <label for="personalized_top_center">Top Center</label>
            </div>
            <div class="span2">
                <label for="personalized_bottom_center">Bottom Center</label>
            </div>
            <div class="span2">
                <label for="personalized_bottom_right">Bottom Right</label>
            </div>
        </div>
        <div class="row personalized-inputs">
            <div class="span2">
                <input class="input-medium" ng-model="personalized.topLeft" type="text" id="personalized_top_left">
            </div>
            <div class="span2">
                <input class="input-medium" ng-model="personalized.topCenter" type="text" id="personalized_top_center">
            </div>
            <div class="span2">
                <input class="input-medium" ng-model="personalized.bottomCenter" type="text" id="personalized_bottom_center">
            </div>
            <div class="span2">
                <input class="input-medium" ng-model="personalized.bottomRight" type="text" id="personalized_bottom_right">
            </div>
        </div>
        <div class="row personalized-inputs">
            <div class="span4 offset3">
                <br>
                <br>
                <p><strong>Additional Personalization</strong></p>
            </div>
            <div class="span4 offset2">
                <textarea ng-model="personalized.additional" name="personalized_message"></textarea>
            </div>
        </div>
    </div>
  </div>

  <div id="added"></div>

  <div ng-repeat="character in characters" ng-show="character.modalState == 'open'" ng-click="character.modal('close')" class="modal-backdrop"></div>
</div>